@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

.sum-adder-subtractor-container{
    display: flex;
    align-items: center;
    border : 1px solid #616161;
    color : #616161;
}
.sum-adder-subtractor-input{
    flex : 1 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
