@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

.sum-adder-subtractor-container{
    display: flex;
    align-items: center;
    width : 80%;
    border : 2px solid rgb(85, 85, 85);
}
.sum-adder-subtractor-input{
    flex : 1 0 auto;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
