.card-container{
    flex: 0 0 300px;
    width:300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap:20px;
    margin-bottom: 40px;
}
.card-image{
    width:inherit;
}
.add-cart-button{
    width : 95%;
    border : 1px solid  #1D7CBF;
    border-radius : 5px;
    text-transform: none;
}

@media screen and (max-width: 650px) {
    .card-container{
        width: 250px;
    }
  }