
.cards-container{
    width : 80%;
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    gap: 50px;
    justify-content: space-evenly;
    justify-items: center;
}


@media screen and (max-width: 1055px) {
    .cards-container{
        grid-template-columns: repeat(2,1fr) ;
        row-gap:20px;
    }
  }

  @media screen and (max-width: 700px) {
    .cards-container{
        grid-template-columns: 1fr ;
        row-gap:10px;
    }
  }