
  .avatar{
    height:28px;
    width: 28px;
    border-radius: 50%;
  }

  .cart-container{
    width:fit-content;
    display: flex;
    align-items : center;
    justify-content: space-between;
  }

  .cart{
    cursor : pointer ; 
    margin-right:20px ;
    
  }